- var keywords = locals.keywords + (page.keywords ? "," + page.keywords : "")
- var description = (page.description || "") + locals.description

meta(http-equiv="content-type" content="text/html; charset=UTF-8")
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="#{description}")
meta(name="keywords" content="#{keywords}")
meta(name="author" content="#{locals.owner}")
link(rel="stylesheet" type="text/css" href="/assets/css/reset.css")
link(rel="stylesheet" type="text/css" href="/assets/css/main.css")
link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:400,700")
title #{page.title} - #{locals.owner}